.titleHome{
    display: flex;
    align-items: center;
    margin-left: 40%;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 29px;
    margin-top: 3em;
}