.card-modal{
    width: 70vh;
    
}


.modal{
    display: flex;
    flex-direction: column;
    font: 1.5em 'Gilroy', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
   
   
}

.closeBTN{
    display: flex;
    align-items: flex-start;
    margin-left: 95%;
    margin-top: -2%;
   
}

.text-daddy{
    text-align: center;
}
.welcome{
   color: var(--indigo-500);
   font-size: 1.2em;
   font-style: bold;
   font-weight: 700;
   margin-top: -2%;
}

.text1{
    font-size: 1em;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    text-align: center;
}

.input-style{
    margin-top: 10%;
    font-size: 0.7em;
    margin-left: 0;

}

.input{
    width: 100%
}

.btn-login{
    margin-top: 5%;
    margin-left: 20%;

}

